.main-link{
    width: 200px;
    height: 150px;
    color: orange;
    font-size: 30px;
    display: inline-block;
}

.user-svg {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: inline-block;

    & > *:hover {
        background-color: #f4f2f2;
    }

    &__icon-box {
        position: absolute;
        height: 4.25rem;
        width: 4.25rem;
        fill: #777;
    }

    &__img{
        height: 4.25rem;
        width: 4.25rem;
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: #eb2f64;
        color: #fff;
        position: absolute;
        top: -1rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}